@charset "UTF-8";
@font-face {
  font-family: "MursGothic";
  src: url(/fonts/MursGothic/MursGothic-WideDark.woff), url(/fonts/MursGothic/MursGothic-WideDark.woff2);
  font-weight: 800;
  font-style: normal;
  font-display: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
  font-display: normal;
}
:root {
  --color-white: #fff;
  --color-black: #000;
  --transition-duration: 0.3s;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /*чтобы padding работали правильно*/
  height: 100%;
}
@media (min-width: 2560px) and (max-width: 3840px) {
  html {
    font-size: calc(25px + 6 * (100vw - 2560px) / 1280);
  }
}
@media (min-width: 2160px) and (max-width: 2560px) {
  html {
    font-size: calc(20px + 5 * (100vw - 2160px) / 400);
  }
}
@media (min-width: 1920px) and (max-width: 2160px) {
  html {
    font-size: calc(16px + 4 * (100vw - 1920px) / 240);
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  html {
    font-size: calc(13px + 3 * (100vw - 1440px) / 480);
  }
}
@media (min-width: 1152px) and (max-width: 1440px) {
  html {
    font-size: calc(11px + 2 * (100vw - 1152px) / 288);
  }
}
@media (min-width: 1000px) and (max-width: 1152px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 761px) and (max-width: 1000px) {
  html {
    font-size: calc(9px + 2 * (100vw - 768px) / 256);
  }
}
@media (min-width: 376px) and (max-width: 760px) {
  html {
    font-size: calc(9px + 2 * (100vw - 360px) / 384);
  }
}

*,
body {
  font-family: "Inter";
  font-weight: 500;
  margin: 0; /*обнуление всех margin по умолчанию, если его размер не указан*/
  color: var(--color-white);
}

img {
  max-width: 100%; /*чтобы картинка не выходила за пределы экрана*/
}

a {
  text-decoration: none; /*чтобы не было нижнего подчеркивания по умолчанию*/
}

/*--------------Контейнер--------------*/
.container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  padding: 0px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 760px) {
  .container {
    padding: 0px 30px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0px 15px;
  }
}
/*--------------Кнопка--------------*/
.default-btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  font-family: "MursGothic";
  color: var(--color-white);
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  border: none;
  background-color: #0050cf;
  -webkit-transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  cursor: pointer; /*курсор в виде руки*/
}

.default-btn:hover {
  background-color: #fff;
  color: #0050cf;
}

.default-btn:active {
  background-color: #0050cf;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 11.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 7.25rem;
  height: 7.25rem;
}
.logo__img img {
  display: block;
  width: 100%;
}
.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.625rem;
}
.logo__text_name {
  font-size: 2.375rem;
  font-weight: 600;
  color: var(--color-black);
}
.logo__text_name2 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-black);
  opacity: 0.5;
}
.logo__text br {
  display: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1.25rem;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.social__icon {
  height: 1.6875rem;
}
.social__icon img {
  display: block;
  height: 100%;
}

/*------------------760px------------------------*/
@media (max-width: 760px) {
  .header__wrap {
    padding: 1.7rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo__img {
    width: 7rem;
    height: 7rem;
  }
  .logo__img img {
    display: block;
    width: 100%;
  }
  .logo__text {
    margin: 0;
  }
  .logo__text_name {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.42rem;
    margin: 0.15rem 0 0;
    text-align: center;
  }
  .logo__text_name2 {
    font-size: 1.378rem;
    margin: 0.3rem 0 0;
    text-align: center;
  }
  .logo__text br {
    display: inline;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 2.15rem;
    margin: 2.1rem 0 0;
    -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .social__icon {
    height: 2.4rem;
  }
  .social__icon img {
    display: block;
    height: 100%;
  }
}
/*------------------375px------------------------*/
@media (max-width: 375px) {
  .header__wrap {
    padding: 17px 0 15px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo__img {
    width: 63px;
    height: 63px;
  }
  .logo__img img {
    display: block;
    width: 100%;
  }
  .logo__text {
    margin: 0;
  }
  .logo__text_name {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 2px 0 0 0;
  }
  .logo__text_name2 {
    font-size: 12.6px;
    font-weight: 600;
    margin: 5px 0 0 0;
    line-height: 16px;
    text-align: center;
  }
  .logo__text br {
    display: inline;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 19px;
    margin: 19px 0 0;
    -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .social__icon {
    height: 22px;
  }
  .social__icon img {
    display: block;
    height: 100%;
  }
}
.catalog {
  overflow: hidden;
}
.catalog__wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#013ebb), to(#00195c));
  background: linear-gradient(#013ebb, #00195c);
  padding-bottom: 9.375rem;
}
.catalog__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.4375rem;
  padding-top: 3.75rem;
  margin-bottom: 3.75rem;
  font-size: 1.125rem;
  letter-spacing: -0.0065rem;
}
.catalog__text br {
  display: none;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.25rem 1.25rem;
  overflow: hidden;
}
.catalog-grid__photo1, .catalog-grid__photo2, .catalog-grid__photo3 {
  display: block;
  position: relative;
  border-radius: 0.625rem;
}
.catalog-grid__photo1 img, .catalog-grid__photo2 img, .catalog-grid__photo3 img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog-grid__photo1 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}
.catalog-grid__photo2 {
  grid-column-start: 8;
  grid-column-end: 13;
}
.catalog-grid__photo3 {
  grid-column-start: 8;
  grid-column-end: 13;
}
.catalog-grid__text {
  position: absolute;
  color: #1241b2;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.625rem;
  padding: 0.625rem 0.625rem;
  bottom: 0;
  background-color: var(--color-white);
}

/*------------------------------------------------*/
.catalog-info {
  position: relative;
  background-color: var(--color-white);
  border-radius: 0.625rem;
  margin-top: 9.25rem;
  padding: 0 5rem 5rem 5rem;
}
.catalog-info__subtitle {
  color: #1241b2;
  font-size: 3.25rem;
  font-weight: 800;
  font-family: "MursGothic";
  padding-top: 4.5rem;
  line-height: 4rem;
}
.catalog-info__subtitle span {
  color: #01195c;
  font-size: 3.25rem;
  font-weight: 800;
  font-family: "MursGothic";
}
.catalog-info__title {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--color-black);
  margin-top: 0.8125rem;
  line-height: 2.25rem;
}

.search-form__input {
  width: 100%;
  max-width: 36.3rem;
  height: 3.625rem;
  border-radius: 0.625rem;
  font-size: 1.375rem;
  border: 0.0625rem solid #00b2ff; /*толщина рамки*/
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; /*ширина зависит от содержания, а не растягивается на всю длину блока*/
  padding: 0 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: var(--color-white);
  color: var(--color-black);
}
.search-form__input_1 {
  margin-top: 3.25rem;
  margin-bottom: 1.875rem;
}
.search-form__input_2 {
  margin-bottom: 1.875rem;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.check p {
  font-family: "Montserrat";
  color: #4f4f4f;
  margin-top: 1.875rem;
  margin-left: 0.625rem;
  font-size: 1.125rem;
}
.check p br {
  display: none;
}

.real-checkbox {
  /*скрываем стандартную галочку*/
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  /*активируем нарисованную галочку*/
}
.real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1); /*позиционируем галочку*/
}
.real-checkbox:focus + .custom-checkbox {
  /*подсвечиваем галочку при выборе*/
  -webkit-box-shadow: 0rem 0rem 0rem 0.0625rem #00b2ff;
          box-shadow: 0rem 0rem 0rem 0.0625rem #00b2ff; /*рамка*/
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.125rem;
  background-color: var(--color-white);
  border: 0.0625rem solid #00b2ff;
  vertical-align: -0.125rem;
  margin-top: 1.875rem;
}
.custom-checkbox::before {
  /*рисуем галочку*/
  content: "";
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  background-image: url(/img/check.svg); /*вставляем галочку*/
  background-size: contain; /*чтобы галочка поместилась и правильно отмаштабировалась*/
  background-repeat: no-repeat; /*чтобы галочка не повторялась*/
  /*Выравниваем галочку по центру*/
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  margin-top: 0.0625rem;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.default-btn__btn {
  margin-top: 1.75rem;
  padding: 1.5rem 11.625rem 1.125rem 11.625rem;
}
.default-btn__btn a {
  font-size: 2rem;
  font-weight: 800;
  font-family: "MursGothic";
}

.rocket {
  position: relative;
}
.rocket__photo {
  width: 43.125rem;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate(50%, -100%);
      -ms-transform: translate(50%, -100%);
          transform: translate(50%, -100%);
  top: 12.8125rem;
  right: -1.5625rem;
  z-index: 5;
}
.rocket__photo img {
  display: block;
  width: 100%;
}

.footer-title {
  margin-top: 13.4375rem;
  font-size: 1.125rem;
  padding-bottom: 5rem;
  letter-spacing: -0.005rem;
}

/*------------------760px------------------------*/
@media (max-width: 760px) {
  .catalog__wrap {
    padding-bottom: 7rem;
  }
  .catalog__text {
    font-size: 1.77rem;
    line-height: 1.245;
    margin: 0 0 3.5rem;
  }
  .catalog br {
    display: none;
  }
  .catalog-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.85rem 0;
  }
  .catalog-grid__photo1 {
    grid-column-end: 1;
    grid-row-end: 1;
    min-height: 13rem;
    aspect-ratio: 15/9;
  }
  .catalog-grid__photo1 img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  .catalog-grid__photo2 {
    grid-column-start: 1;
    aspect-ratio: 15/9;
  }
  .catalog-grid__photo2 img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  .catalog-grid__photo3 {
    grid-column-start: 1;
    aspect-ratio: 15/9;
  }
  .catalog-grid__photo3 img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  .catalog-grid__text {
    border-radius: 1rem;
    font-size: 1.55rem;
    padding: 1rem 0.6rem;
  }
  /*-------------------------------------------*/
  .catalog-info {
    border-radius: 1rem;
    padding: 1.5rem 1.8rem 1.7rem;
    margin-top: 3.75rem;
  }
  .catalog-info__subtitle {
    font-size: 2.75rem;
    letter-spacing: -0.025em;
    line-height: 1.05;
    padding-top: 0;
  }
  .catalog-info__subtitle span {
    font-size: 2.75rem;
  }
  .catalog-info__title {
    font-size: 1.55rem;
    line-height: 1.14;
    margin: 2.35rem 0 0;
    max-width: 95%;
  }
  .catalog-info__title br {
    display: none;
  }
  .search-form {
    padding-left: 0;
  }
  .search-form__input {
    max-width: calc(100% - 9rem);
    padding: 0 1.375rem;
    border: 0.25rem solid #00b2ff;
    border-radius: 1rem;
    height: 5.5rem;
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
  .search-form__input_1 {
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
  }
  .search-form__input_2 {
    margin-bottom: 1.25rem;
  }
  .check {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .check p {
    width: 100%;
    max-width: calc(100% - 8rem);
    font-size: 1.54rem;
    line-height: 1.3;
    padding: 0.1rem 0 0 1.1rem;
  }
  .check p br {
    display: none;
  }
  .custom-checkbox {
    margin-left: 0;
    margin: 1.7rem 0 0 0.0625rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
  }
  .default-btn {
    margin: 3rem 0 0;
  }
  .default-btn__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: calc(100% - 6rem);
    height: 6.7rem;
    border: 0.125rem solid #0050cf;
    padding: 0;
    font-size: 2.2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rocket {
    position: relative;
  }
  .rocket__photo {
    position: absolute;
    width: 30.5rem;
    opacity: 1;
    top: 8rem;
    right: -1.3rem;
  }
  .rocket__photo img {
    display: block;
    width: 100%;
  }
}
/*------------------375px------------------------*/
@media screen and (max-width: 375px) {
  .catalog__wrap {
    padding-bottom: 60px;
  }
  .catalog__text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05px;
    padding-top: 32px;
    margin-bottom: 33px;
  }
  .catalog br {
    display: inline;
  }
  .catalog-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 17px 0px;
  }
  .catalog-grid__photo1, .catalog-grid__photo2, .catalog-grid__photo3 {
    min-height: 207px;
  }
  .catalog-grid__photo1 img, .catalog-grid__photo2 img, .catalog-grid__photo3 img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .catalog-grid__photo1 {
    grid-column-end: 1;
    grid-row-end: 1;
    aspect-ratio: 15/9;
  }
  .catalog-grid__photo2 {
    grid-column-start: 1;
    aspect-ratio: 15/9;
  }
  .catalog-grid__photo3 {
    grid-column-start: 1;
    aspect-ratio: 15/9;
  }
  .catalog-grid__text {
    font-size: 14px;
    border-radius: 10px;
    padding: 8px 6px;
  }
  /*---------------------------------------------*/
  .catalog-info {
    padding: 0;
    margin-top: 48px;
    border-radius: 10px;
    padding-left: 16px;
    padding-bottom: 16px;
  }
  .catalog-info__subtitle {
    padding-left: 0;
    font-size: 24px;
    padding-top: 14px;
    line-height: 26px;
    letter-spacing: 0px;
  }
  .catalog-info__subtitle span {
    font-size: 24px;
  }
  .catalog-info__title {
    padding-left: 0;
    font-size: 14px;
    margin-top: 22px;
    line-height: 16px;
    width: 100%;
  }
  .catalog-info__title br {
    display: none;
  }
  .search-form {
    padding: 0;
  }
  .search-form__input {
    max-width: 222px;
    width: 100%;
    padding: 1px 20px 0px 20px;
    border: 1px solid #00b2ff;
    border-radius: 10px;
    height: 46px;
    font-size: 16px;
    letter-spacing: 0px;
  }
  .search-form__input_1 {
    margin-top: 30px;
    margin-bottom: 16px;
  }
  .search-form__input_2 {
    margin-bottom: 18px;
  }
  .check {
    padding-left: 0;
  }
  .check p {
    margin: 0;
    width: 100%;
    max-width: calc(100% - 20px);
    font-size: 14px;
    line-height: 1.35;
    padding: 16px 0 0 10px;
  }
  .check p br {
    display: inline;
  }
  .custom-checkbox {
    margin: 16px 0 0 1px;
    width: 18px;
    height: 18px;
  }
  .default-btn {
    margin: 0;
    margin-top: 27px;
  }
  .default-btn__btn {
    width: 100%;
    max-width: calc(100% - 70px);
    height: 56px;
    border: 2px solid #0050cf;
    padding: 0;
    font-size: 20px;
  }
  .rocket {
    position: relative;
  }
  .rocket__photo {
    position: absolute;
    width: 275px;
    opacity: 1;
    top: 70px;
    right: 3px;
  }
  .rocket__photo img {
    display: block;
    width: 100%;
  }
}
.footer {
  background-color: #00195c;
}
.footer__title {
  text-align: left;
  padding: 0rem 1.875rem 5rem 0rem;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: -0.1rem;
}

/*------------------760px------------------------*/
@media (max-width: 760px) {
  .footer__title {
    text-align: left;
    padding: 0.5rem 0 5.5rem;
    font-size: 1.53rem;
    background-color: #00195c;
  }
}
/*------------------375px------------------------*/
@media (max-width: 375px) {
  .footer__title {
    text-align: left;
    padding: 30px 0px 50px 0px;
    font-size: 13.9px;
    background-color: #00195c;
  }
}