@font-face {
    font-family: "MursGothic";
    src: url(fonts/MursGothic/MursGothic-WideDark.woff), url(fonts/MursGothic/MursGothic-WideDark.woff2);
    font-weight: 800;
    font-style: normal;
    font-display: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-Medium.ttf);
    font-style: normal;
    font-display: normal;
}
:root {
    --color-white: #fff;
    --color-black: #000;
    --transition-duration: 0.3s;
}
html {
    box-sizing: border-box; /*чтобы padding работали правильно*/
    height: 100%;

    @media (min-width: 2560px) and (max-width: 3840px) {
        font-size: calc(25px + 6 * (100vw - 2560px) / 1280);
    }
    @media (min-width: 2160px) and (max-width: 2560px) {
        font-size: calc(20px + 5 * (100vw - 2160px) / 400);
    }
    @media (min-width: 1920px) and (max-width: 2160px) {
        font-size: calc(16px + 4 * (100vw - 1920px) / 240);
    }
    @media (min-width: 1440px) and (max-width: 1920px) {
        font-size: calc(13px + 3 * (100vw - 1440px) / 480);
    }
    @media (min-width: 1152px) and (max-width: 1440px) {
        font-size: calc(11px + 2 * (100vw - 1152px) / 288);
    }
    @media (min-width: 1000px) and (max-width: 1152px) {
        font-size: 11px;
    }
    @media (min-width: 761px) and (max-width: 1000px) {
        font-size: calc(9px + 2 * (100vw - 768px) / 256);
    }
    @media (min-width: 376px) and (max-width: 760px) {
        font-size: calc(9px + 2 * (100vw - 360px) / 384);
    }
}
*,
body {
    font-family: "Inter";
    font-weight: 500;
    margin: 0; /*обнуление всех margin по умолчанию, если его размер не указан*/
    color: var(--color-white);
}
img {
    max-width: 100%; /*чтобы картинка не выходила за пределы экрана*/
}
a {
    text-decoration: none; /*чтобы не было нижнего подчеркивания по умолчанию*/
}

/*--------------Контейнер--------------*/

.container {
    width: 100%;
    max-width: 85rem;
    margin: 0 auto;
    padding: 0px 40px;
    box-sizing: border-box;
}
@media (max-width: 760px) {
    .container {
        padding: 0px 30px;
    }
}
@media (max-width: 375px) {
    .container {
        padding: 0px 15px;
    }
}

/*--------------Кнопка--------------*/

.default-btn {
    display: inline-block;
    font-size: 2rem;
    font-weight: 800;
    font-family: "MursGothic";
    color: var(--color-white);
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
    border: none;
    background-color: #0050cf;
    transition: outline-color var(--transition-duration), background-color var(--transition-duration);
    cursor: pointer; /*курсор в виде руки*/
}
.default-btn:hover {
    background-color: #fff;
    color: #0050cf;
}
.default-btn:active {
    background-color: #0050cf;
}
